<header class="navbar navbar-dark shadow mb-3 sticky-top" id="x-navbar">
  <div class="container">
    <a class="navbar-brand text-light" href="/">
      <i class="fas fa-headphones"></i> Fav Music
      <small class="d-inline d-sm-none text-secondary">Playlists on Apple Music</small>
      <span class="d-none d-sm-inline text-secondary"> - Listen awesome playlists on Apple Music</span>
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-light" href="/tags/">
          <i class="fas fa-tags"></i> Tags
        </a>
      </li>
    </ul>
  </div>
</header>